<div class="col-md-6">
  <div class="box">

    <a href="/bands">
      BANDS
    </a>
  </div>
</div>

<div class="col-md-6">
  <div class="box">
    <a href="/venues">
      VENUES
    </a>
  </div>
</div>
