<div class="col-md-6">
  <div class="box band_box">
    <a href="/bands" class="landing_link">
      BANDS
    </a>
  </div>
</div>

<div class="col-md-6">
  <div class="box venue_box">
    <a href="/venues" class="landing_link">
      VENUES
    </a>
  </div>
</div>
