<!DOCTYPE html>
<html>
  <head>
    <title>BFF Bands</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="navbar navbar-static-top">
      <a href="/">home</a> / <a href="/bands"> edit bands </a> / <a href="/venues"> edit venues </a>
    </div>

    <div class="container">
      <%= yield %>
  </body>
</html>
